:root {
    --beige: #FFD9B3;
    --green: #68A900;
    --hover-green: #457700;
}

.accordion-title h2 {
    font-size: 1.4rem;
    margin: 0;
    padding: 15px 0;
    font-weight: bold;
    color: #000;
}

.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    margin: 10px 0;
    transition: 0.3s ease;
    background-color: var(--beige);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-title {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title:after {
    content: "\002B"; /* Plus icoon */
    font-size: 24px;
    font-weight: bold;
    color: #000;
    transition: transform 0.3s ease;
}

.accordion-title.active:after {
    transform: rotate(45deg); /* Change this to rotate for visual feedback */
}

.accordion-content {
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
}

.accordion-content.active {
    max-height: 1000px; /* Large enough for dynamic content */
    padding: 15px 15px 20px;
}

.candidate-card {
    background: #FFFFFF;
    border: 2px solid #C8ED8E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.candidate-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.candidate-card .info {
    flex: 1;
}

.candidate-card h3 {
    font-size: 1.2em;
    color: var(--green);
    font-weight: bold;
    margin-bottom: 10px;
}

.candidate-card p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

.candidate-card .social-links a {
    margin-right: 10px;
    color: var(--green);
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.candidate-card .social-links a:hover {
    color: var(--hover-green);
}

@media (max-width: 768px) {
    .candidate-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .candidate-card img {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .candidate-card img {
        width: 100px;
        height: 100px;
    }

    .candidate-card h3 {
        font-size: 1em;
    }

    .candidate-card p {
        font-size: 0.9em;
    }
}
